:root {
  /* COLORS */
  --color-alert: #ff4747;
  --color-white: #fffffb;
  --color-bg: #c9c9d4;
  --color-primary: #5b5f97;
  --color-dark: #2c2540;

  /* FONT SIZES */
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  /* MARGINS, PADDINGS */
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;

  /* Z-INDEXES */
  --zIndex-base: 00;
  --zIndex-dropdown: 10;
  --zIndex-modal: 20;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
}
